.grid-layout {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 200px 1fr;
  gap: 10px;
}

header {
  grid-column: 1 / 3;
  background-color: #f0f0f0;
  padding: 1rem;
}

#panel-izquierda {
  grid-row: 2;
  padding: 1rem;
  background-color: #ddd;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#principal {
  grid-row: 2;
  padding: 1rem;
}

#series {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

@media (max-width: 900px) {
  #series {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 550px) {
  #series {
    grid-template-columns: 1fr;
  }
}

.serie-card {
  border: 1px solid #ccc;
  padding: 0.5rem;
  border-radius: 8px;
  background-color: #fff;
  text-align: center;
}

.serie-card img {
  width: 100%;
  cursor: pointer;
}

button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
}